<%= form_with(model: kid) do |form| %>
  <% if kid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kid.errors.count, "error") %> prohibited this kid from being saved:</h2>

      <ul>
        <% kid.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :apellido %>
    <%= form.text_field :apellido %>
  </div>

  <div class="field">
    <%= form.label :Fecha_nac %>
    <%= form.date_select :Fecha_nac %>
  </div>

  <div class="field">
    <%= form.label :sexo %>
    <%= form.number_field :sexo %>
  </div>

  <div class="field">
    <%= form.label :dni %>
    <%= form.text_field :dni %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
